Chose_Card.cpp filter=lfs diff=lfs merge=lfs -text
Game.aps filter=lfs diff=lfs merge=lfs -text
Game.vcxproj filter=lfs diff=lfs merge=lfs -text
CLibrary.cpp filter=lfs diff=lfs merge=lfs -text
CLibrary.h filter=lfs diff=lfs merge=lfs -text
pch.h filter=lfs diff=lfs merge=lfs -text
CGame_Over.cpp filter=lfs diff=lfs merge=lfs -text
GameDlg.cpp filter=lfs diff=lfs merge=lfs -text
Game.vcxproj.filters filter=lfs diff=lfs merge=lfs -text
Game.rc filter=lfs diff=lfs merge=lfs -text
framework.h filter=lfs diff=lfs merge=lfs -text
Card.cpp filter=lfs diff=lfs merge=lfs -text
CStart.h filter=lfs diff=lfs merge=lfs -text
Card.h filter=lfs diff=lfs merge=lfs -text
Game.vcxproj.user filter=lfs diff=lfs merge=lfs -text
targetver.h filter=lfs diff=lfs merge=lfs -text
CGame_Over.h filter=lfs diff=lfs merge=lfs -text
CInfo.h filter=lfs diff=lfs merge=lfs -text
GameDlg.h filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
resource.h filter=lfs diff=lfs merge=lfs -text
CInfo.cpp filter=lfs diff=lfs merge=lfs -text
res filter=lfs diff=lfs merge=lfs -text
Game.h filter=lfs diff=lfs merge=lfs -text
Chose_Card.h filter=lfs diff=lfs merge=lfs -text
Game.cpp filter=lfs diff=lfs merge=lfs -text
pch.cpp filter=lfs diff=lfs merge=lfs -text
x64 filter=lfs diff=lfs merge=lfs -text
CStart.cpp filter=lfs diff=lfs merge=lfs -text
